.tab-buttons {
    display: flex;
}

.tab-button {
    cursor: pointer;
    padding: 10px;
    border: none;
    margin-right: -1px;
    border-radius: 0;
    background-color: transparent;
}

.tab-content {
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 0;
}

.tab {
    display: none;
}

.tab.active {
    display: block;
}

.tab-button.active {
    border: 1px solid #ccc;
    border-bottom: none;
    border-top: 3px solid #de3926;
}